<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="FilmVO" type="com.company.dto.FilmVO"/>
		<typeAlias alias="ScribbleVO" type="com.company.dto.ScribbleVO"/>
		<typeAlias alias="TagVO" type="com.company.dto.TagVO"/>
		<typeAlias alias="KinoVO" type="com.company.dto.KinoVO" />
		<typeAlias alias="BoxOfficeVO" type="com.company.dto.BoxOfficeVO"/>
		<typeAlias alias="SearchVO" type="com.company.dto.SearchVO"/>
	</typeAliases>
</configuration>